html {
    height: 100%;
    font-family: sans;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
}

/* Based on https://codepen.io/imprakash/pen/GgNMXO */
#loadingOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
#loadingOverlay > div {
  font-size: 2rem;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  background: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

#topBar { display: flex; }
#topBar > * { margin: 0.5rem; }
#statusText { flex-grow: 1; };
#signOutButton { margin: 0.5rem; }

main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}
main > * {
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: powderblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.itemList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.item, #newItemButton {
    margin: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: cornflowerblue;
    color: black;
}

.item.dragged {
    background-color: blueviolet;
}

.item {
    display: flex;
}

.item > span, .item > input, #newItemButton {
    font-size: 1.4rem;
    text-align: center;
}

.item > span, .item > input {
    flex-grow: 1;
}

.item > span {
    user-select: none;
}

.item > input {
    width: 0;   /* let flexbox decide */
}
