html {
    height: 100%;
    font-family: sans;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
}
body > * {
    width: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: powderblue;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.itemList {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.item, #newItemButton {
    margin: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    background-color: cornflowerblue;
    color: black;
}

.item.dragged {
    background-color: blueviolet;
}

.item {
    display: flex;
};

f.item > span, .item > input, #newItemButton {
    font-size: 1.4rem;
    text-align: center;
}

.item > span, .item > input {
    flex-grow: 1;
}

.item > span {
    user-select: none;
}

.item > input {
    width: 0;   /* let flexbox decide */
}
